nav(class="navbar navbar-inverse navbar-static navbar-static-top")
  div(class="container-fluid")
    div(class="navbar-header")
      span(class="navbar-brand") 当前项目
        a(tabindex="0" role="button" class="btn btn-link btn-xs" data-toggle="popover" data-placement="bottom" data-content="#{currentProject}") #{baseInfo.name}
      span(class="navbar-brand") 项目版本
        kbd(id="version") #{baseInfo.version}
      span(class="navbar-brand") JMS 版本
        kbd(id="JMS_version") #{baseInfo.JMSVersion}
    div(class="collapse navbar-collapse")
      ul(class="nav navbar-nav navbar-right")
        li(class="dropdown")
          a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
            | 切换项目
            span(class="caret")
          ul(class="dropdown-menu")
            each project in projects
              if currentProject === project.path
                li(class="active")
                  a(href="/console_board?project=#{project.path}")
                    =project.name
              else
                li
                  a(href="/console_board?project=#{project.path}")
                    =project.name
